.block-info> h4 {
    font-weight: bold;
}

.block-info {
    margin-bottom: 30px;
}

.block-info .panel-body > h5 {
    font-weight: bold;
    margin-top: 20px;
}

.panel {
    border: none;
}

.panel-default>.panel-heading {
    background-color: #e5e5ff;
}
.example{
    margin-right: 0;
    margin-left: 0;
    border-style: solid;
    padding: 15px;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
}

pre{
    color: #5F5C5C;
    border: none;
    padding: 0 10px;
}
.sidenav{
    margin-top: 70px;
}

.sidenav .list-group-item {
    border: none;
}

.inline-mode img {
    margin: 7px 0;
}
